<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
</head>
<body >
<div id="wrapper">
    <nav>
        <li>
            <a th:href="@{/signup}">회원가입</a>
            <a th:href="@{/signin}">로그인</a>
            <a th:href="@{/api/logout}">로그아웃</a>
            <a th:href="@{/list}">글 목록</a>
        </li>
    </nav>
    <div id="content">
        <th:block layout:fragment="content"></th:block>
    </div>
</div>
<th:block th:replace="fragment/script :: script"></th:block>
</body>
</html>