<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        table {
            margin-left:auto;
            margin-right:auto;
        }

        table, td, th {
            border-collapse : collapse;
            border : 1px solid black;
        }

        td {
            text-align: center;
        }

        #menu {
            margin-bottom: 50px;
        }
    </style>
    <script src="./jquery-3.6.0.min.js"></script>

</head>
<body>
    <div>
        <h2>Home</h2>
        <div id="menu">
            <button onclick="login()">로그인</button>
            <button onclick='logout()'>로그아웃</button>
        </div>
        <div id="board">

            <table>
                <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">글 아이디</th>
                    <th scope="col">글제목</th>
                    <th scope="col">작성시간</th>
                    <th scope="col">작성자</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="b : ${board}"
                    th:onclick="'location.href=\''+ @{/board/{id}(id=${b.id})} + '\''">
                    <td scope="row" width="10%">
                        <div th:text="${b.id}"></div>
                    </td>

                    <td scope="row" width="20%">
                        <div th:text="${b.title}"></div>
                    </td>
                    <td scope="row" width="20%">
                        <div th:text="${b.createdAt}"></div>
                    </td>
                    <td scope="row" width="20%">
                        <div th:text="${b.memberId}"></div>
                    </td>
                    <td scope="row" width="20%">
                        <div th:text="${b.views}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</body>

<script th:inline="javascript">
    $(document).ready(function () {

    });

    function login(){
        if (localStorage.getItem('id') != null) {
            alert('이미 로그인 되어있는 상태입니다.')
        } else {
            location.href="http://localhost:8086/signin";
        }
    }

    function logout(){
        if (localStorage.getItem('id') != null) {
            localStorage.removeItem('id');
            alert('로그아웃 완료');
        } else {
            alert('로그인하세요!');
        }
    }
</script>
</html>