<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>로그인</title>
    <script src="./jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <div onClick="home()">
        <h3>홈화면으로 이동</h3>
    </div>
    <h2>로그인</h2>
    <input title="아이디" type="text" name="id" id="id"/>
    <input title="비밀번호" type="password" name="password" id="password"/>
    <button id="login" type="button">Login</button>
</div>
</body>
<script th:inline="javascript">

    function home(){
        location.href="http://localhost:8086";
    }

    $(document).ready(function () {

        $('#login').click((event) => {
            const id = $('#id').val();
            const password = $('#password').val();
            if (id == '' || password == '') {
                alert('아이디와 비밀번호를 입력해주세요');
                return;
            }

            const path = 'http://localhost:8086/api/login';
            const json = JSON.stringify({
                'id': id,
                'password': password
            });
            $.ajax({
                url: path,
                type: 'POST',
                contentType: 'application/json',
                data: json,
            }).done((result) => {
                console.log(result);
                if (result.header == 'OK') {
                    alert('로그인 성공')
                    localStorage.setItem('id', id);
                    location.href = "http://localhost:8086"
                } else {
                    alert(result.message);
                }
            });
        });
    });
</script>
</html>