<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8" />
    <title>회원가입</title>
    <th:block layout:fragment="styles">
        <script src="/js/signup.js"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="py-5 text-center">
            <h2>회원 가입</h2>
        </div>
        <form th:action="@{/api/signup}" th:method="post" enctype="multipart/form-data">
            <ul>
                <li>아이디 <input type="text" name="id" /></li>
                <li>비밀번호 <input type="password" name="password" /></li>
                <li>이름 <input type="text" name="name" /></li>
            </ul>
            <input type="submit" value="회원가입"/>
        </form>
    </div>
</div>
<!-- /container -->
</body>
</html>